h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 7.25rem;
  text-align: center;

  border: 3px;
  padding: 6px 18px 0 18px;
  border-style: solid;
  border-right: none;
  border-left: none;
  margin: 0;
  position: absolute;
  width: auto;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 16rem;
  color: #BCE050;
}
/* only use for feature letter in header sections */
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 38rem;
  text-align: center;
  color: #BCE050;
  margin-top: -100px;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #515151;
  line-height: 1.2rem;
}

body {
  background: #f9f9f9;
}


/* hr {
  border: solid #000 3px;
  border-bottom: none;
  width: 500px;
  margin: 12px auto;
  border-left: 0;
} */

.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.row-1 {
      width: 500px;
      margin-right: auto;
      margin-left: auto;
      margin-top: -520px;
}

.col-right {
  width: 250px;
  text-align: right;
}

.col-left {
  width: 250px;
  text-align: left;
  border: 3px;
  padding: 0 6px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin: 0;
}

.row-3 {
  margin: 150px 0 0 0;
  text-align: center;
}

.row-3 .col-sm-6 {
    border-bottom: double #000 8px;
    padding: 20px 0 25px 0;
}
.div-with-arrow {
  border-right: solid #000 3px;
}
/* .col-border-right {
  border-right: solid #000 3px;
} */

.curved-text {
  letter-spacing: -2px;
}

.text-under-curve {
  margin-top: -20px;
}

.fa-chevron-up {
  margin: -144px 51.7% 0 48.3%;
}


.intro {
  max-width: 50%;
  margin: 70px auto 0 auto;
}
